In [1]:
import pandas as pd
from keras.models import Sequential, model_from_json
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder

Using TensorFlow backend.

In [2]:
df = pd.read_csv("raw_input.csv")
cols = [0,1]
df2 = df.drop(df.columns[cols],axis=1)
df2 = df2.fillna(100)
df2

,Home,ML,Spread,Over,season_wins,net_points,avg_for_fg,avg_for_fgp,avg_opp_fgp,avg_for_3p,...,avg_opp_3pp,avg_for_ft,avg_for_ftp,avg_opp_fta,avg_for_rb,avg_opp_rb,avg_for_blk,avg_opp_blk,avg_for_to,avg_opp_to
0,1,166,4.5,220.0,34,-56.0,40.2,0.446,0.446,13.1,...,0.351,18.0,0.745,22.5,48.0,46.0,4.5,5.3,15.3,13.0
1,0,-194,-4.5,220.0,32,-63.9,39.3,0.443,0.464,11.1,...,0.366,17.4,0.773,19.6,44.6,45.0,5.5,4.7,12.8,14.7
2,1,-127,0.2,234.0,44,269.1,41.1,0.453,0.461,15.7,...,0.346,20.7,0.788,23.8,44.5,47.6,5.1,4.9,14.5,15.9
3,0,-123,-0.2,234.0,31,-89.7,42.2,0.471,0.470,10.7,...,0.376,18.9,0.812,22.7,44.4,45.4,5.5,4.3,12.4,13.1
4,1,284,8.2,224.0,42,154.0,40.9,0.466,0.462,11.4,...,0.353,16.9,0.753,24.4,45.5,41.9,5.3,3.9,14.2,14.1
5,0,-345,-8.2,224.0,32,-21.3,41.0,0.465,0.472,11.3,...,0.362,19.9,0.833,24.7,43.5,43.4,4.0,5.5,15.0,15.7
6,1,-146,-3.0,224.7,47,448.0,41.3,0.461,0.442,12.6,...,0.341,18.7,0.801,24.3,46.0,44.2,5.6,5.5,13.7,15.2
7,0,128,3.0,224.7,33,-78.1,42.6,0.469,0.450,11.0,...,0.365,16.4,0.763,25.1,46.5,44.9,5.5,5.3,15.3,14.9
8,1,127,3.0,237.3,43,401.5,41.7,0.461,0.456,15.2,...,0.350,18.5,0.778,20.9,47.1,45.4,4.8,4.2,12.7,12.1
9,0,-146,-3.0,237.3,33,-93.6,42.0,0.462,0.454,12.8,...,0.381,17.6,0.801,24.7,45.3,47.0,6.2,4.9,12.9,12.6
10,1,-107,0.0,230.7,30,-84.0,42.5,0.463,0.464,13.8,...,0.358,17.0,0.727,24.7,46.8,45.0,5.0,4.9,16.4,14.3
11,0,-110,0.0,230.7,29,-168.0,40.7,0.460,0.470,12.6,...,0.356,15.8,0.769,24.5,42.6,43.7,4.1,4.2,14.4,15.2
12,1,-380,-8.7,231.5,55,731.3,43.3,0.477,0.413,13.7,...,0.355,18.3,0.744,21.1,51.8,45.7,6.0,4.5,15.1,14.0
13,0,308,8.7,231.5,24,-329.0,41.7,0.459,0.489,12.0,...,0.376,19.3,0.788,26.4,41.8,46.0,4.3,5.1,14.2,16.1

In [3]:
# def load_model():
#     # loading model
#     model = model_from_json(open('ML_model_architecture.json').read())
#     model.load_weights('ML_model_weights.h5')
#     model.compile(loss='categorical_crossentropy', optimizer='adam')
#     return model

In [4]:
from joblib import dump, load
rf = load('straight_model.joblib')
clf = load('payout_model.joblib')

In [5]:
predictions_ml = rf.predict(df2).tolist()
predictions_po = clf.predict(df2).tolist()
df.drop(df.columns[4:],axis=1,inplace=True)
df['ml_outcome'] = predictions_ml
df['exp_payout'] = predictions_po
cols = [0]
df.drop(df.columns[cols],axis=1,inplace=True)
df

   Team  Home   ML  ml_outcome
0   BRK     1  166           0
1   ORL     0 -194           1
2   HOU     1 -127           1
3   SAS     0 -123           1
4   PHI     1  284           0
5   PHO     0 -345           1
6   BOS     1 -146           1
7   MEM     0  128           0
8   DAL     1  127           0
9   POR     0 -146           0
10  NOP     1 -107           1
11  SAC     0 -110           0
12  MIL     1 -380           1
13  WAS     0  308           0

In [6]:
# load
# model = load_model()

# # predictions
# predictions = model.predict_classes(df2, verbose=2)
# print(predictions)

In [7]:
# p = predictions.tolist()
# df['ml_outcome'] = p
# cols = [0,2,5,6,7,8]
# df.drop(df.columns[cols],axis=1,inplace=True)
# df

In [8]:
df.to_csv('ml_predictions.csv')