In [1]:
import pandas as pd
from keras.models import Sequential, model_from_json
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder

Using TensorFlow backend.

In [2]:
df = pd.read_csv("raw_input.csv")
cols = [0,1]
df2 = df.drop(df.columns[cols],axis=1)
df2 = df2.fillna(100)
df2

,Home,ML,Spread,Over,season_wins,net_points,avg_for_fg,avg_for_fgp,avg_opp_fgp,avg_for_3p,...,avg_opp_3pp,avg_for_ft,avg_for_ftp,avg_opp_fta,avg_for_rb,avg_opp_rb,avg_for_blk,avg_opp_blk,avg_for_to,avg_opp_to
0,1,110,2.0,227.500000,48,461.5,41.4,0.462,0.442,12.6,...,0.339,18.6,0.800,24.5,46.0,44.2,5.6,5.5,13.7,15.1
1,0,-130,-2.0,227.500000,24,-340.8,41.6,0.458,0.489,12.0,...,0.378,19.4,0.788,26.4,41.9,46.1,4.3,5.0,14.1,16.1
2,1,-200,-5.0,222.500000,52,427.0,42.3,0.479,0.446,11.0,...,0.347,17.8,0.729,23.1,45.7,42.2,6.7,3.7,15.1,15.7
3,0,171,5.0,222.500000,30,-163.3,40.7,0.461,0.470,12.6,...,0.356,15.8,0.771,24.5,42.6,43.5,4.1,4.3,14.5,15.2
4,1,295,8.5,234.500000,43,392.2,41.7,0.462,0.456,15.2,...,0.351,18.6,0.778,21.0,46.9,45.4,4.9,4.1,12.7,12.0
5,0,-370,-8.5,234.500000,33,-14.4,41.1,0.466,0.473,11.3,...,0.364,19.9,0.835,24.6,43.5,43.3,4.0,5.5,14.9,15.6
6,1,-153,-3.5,227.500000,33,-93.6,42.5,0.468,0.450,10.9,...,0.366,16.6,0.764,25.1,46.4,44.9,5.5,5.3,15.2,14.9
7,0,131,3.5,227.500000,56,748.8,43.3,0.477,0.413,13.8,...,0.355,18.3,0.743,21.2,51.8,45.7,5.9,4.5,15.1,14.0
8,1,-340,-8.0,231.000000,32,-70.0,42.2,0.471,0.469,10.7,...,0.374,18.9,0.813,22.6,44.6,45.3,5.5,4.3,12.6,13.2
9,0,275,8.0,231.000000,43,170.4,40.0,0.471,0.456,13.4,...,0.352,17.9,0.778,21.3,45.0,42.7,4.0,4.5,15.2,12.4
10,1,149,4.0,226.500000,30,-85.2,42.5,0.463,0.464,13.7,...,0.359,17.0,0.728,24.6,46.6,45.0,5.0,4.9,16.5,14.4
11,0,-172,-4.0,226.500000,32,-79.2,39.2,0.442,0.464,11.0,...,0.365,17.5,0.775,19.7,44.6,44.9,5.5,4.7,12.8,14.7
12,1,375,10.0,236.666667,35,-35.5,40.2,0.446,0.445,13.1,...,0.350,18.0,0.746,22.5,47.9,46.0,4.5,5.3,15.3,13.1
13,0,-505,-10.0,236.666667,34,-87.6,42.1,0.462,0.454,12.9,...,0.382,17.7,0.803,24.8,45.3,46.9,6.1,4.9,12.8,12.7

In [3]:
# def load_model():
#     # loading model
#     model = model_from_json(open('ML_model_architecture.json').read())
#     model.load_weights('ML_model_weights.h5')
#     model.compile(loss='categorical_crossentropy', optimizer='adam')
#     return model

In [4]:
from joblib import dump, load
rf = load('over_model.joblib')
clf = load('o_payout_model.joblib')

In [5]:
predictions_o = rf.predict(df2).tolist()
predictions_po = clf.predict(df2).tolist()
df.drop(df.columns[6:],axis=1,inplace=True)
df['o_outcome'] = predictions_o
df['exp_payout'] = predictions_po
cols = [0,3,4]
df.drop(df.columns[cols],axis=1,inplace=True)
df

   Team  Home        Over  o_outcome  exp_payout
0   BOS     1  227.500000          0  -26.349815
1   WAS     0  227.500000          1   26.651007
2   LAL     1  222.500000          0  -14.189047
3   SAC     0  222.500000          0   -9.180754
4   DAL     1  234.500000          0  -15.492072
5   PHO     0  234.500000          0  -14.146264
6   MEM     1  227.500000          0   -6.781900
7   MIL     0  227.500000          0  -17.894532
8   SAS     1  231.000000          0    5.164172
9   UTA     0  231.000000          0  -29.503118
10  NOP     1  226.500000          1   16.872625
11  ORL     0  226.500000          0  -37.428633
12  BRK     1  236.666667          0  -39.358116
13  POR     0  236.666667          0   -5.175372

In [6]:
# load
# model = load_model()

# # predictions
# predictions = model.predict_classes(df2, verbose=2)
# print(predictions)

In [7]:
# p = predictions.tolist()
# df['ml_outcome'] = p
# cols = [0,2,5,6,7,8]
# df.drop(df.columns[cols],axis=1,inplace=True)
# df

In [8]:
df.to_csv('o_predictions.csv')